@media screen and (max-width: 1000px) {
    .entry{
        margin-bottom: 100px;
    }
    .record{
        margin-bottom: 20px;
    }
    .record:nth-child(odd){
        height: auto;
        flex-direction: column;
    }
    .record:nth-child(even){
        height: auto;
        flex-direction: column-reverse;
    }
    .trigger{
        top:15%;
        height: 70%;
    }
    .text{
        width: calc(50vw + 150px);
        margin:var(--margin);
        margin-top: 60px;
    }
    .text__additional{
        margin-left: 0;
    }

    .record-info{
        flex-direction: column;
        align-items: center;
    }
    .record-info__text{
        width: 85vw;
    }
    .record-info__image-wrapper{
        margin-top: 50px;
        width: 85vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        overflow-x: scroll;
        overflow-y: hidden;
        background-color: black;
        opacity: 1;
        background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #1c1c1c55, #1c1c1c );
    }
    .record-info__image{
        width: 300px;
        height: 100%;
        margin-right: 40px;
    }
    .close_record-info{
        top:15px;
    }
}

@media screen and (max-width: 600px){
    .entry{
        height:150px;
        object-fit: cover;
        overflow: hidden;
    }
    .entry__image2{
        height: 600px;
        width: 600px;
    }
}
