:root{
  --margin: 2vw;
  --index: calc(1vh + 1vw)
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}
/* body::-webkit-scrollbar {
  display: none;
} */
.custom-shape-divider-top-1685801030 {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotateZ(180deg);
}

.custom-shape-divider-top-1685801030 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 30px;
}

.custom-shape-divider-top-1685801030 .shape-fill {
  fill: #FFFFFF;
}

.entry{
  height: 100vh;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.entry__image-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
}
.entry__image1{
  position: absolute;
  top:5%;
  object-fit: cover;
  height: 300px;
  width: 60%;
  margin: 0 20%;
}
.entry__image2{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.entry-text-wrapper{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  width: 90%;
  margin: 0 5%;
  cursor: default;
  display: flex;
  flex-direction: column;
}
.project-name{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 3px;
  font-size:8rem;
  color:white;
  text-align: center;
}
.project-description{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 3px;
  font-size:4rem;
  color:white;
  text-align: center;
}

.scroll-label{
  position: absolute;
  bottom: 5%;
  right:5%;
  color:white;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}
section{
  position: sticky !important;
  background-color: white;
  top:0px;
}

.authors-header{
  width: 100%;
  text-align: center;
  margin-top:50px;
  margin-bottom: 60px;
  font-size: calc(3.5 * var(--index));
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  height: 100px;
}
.authors{
  width: 100%;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.author-wrapper{
  position: relative;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:20px calc(5 * var(--index));
}
.author-name{
  text-align: center;
  font-size: calc(2.5*var(--index));
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  height: 120px;
  margin-bottom: 15px;
}
.author-description{
  text-align: center;
  font-size: calc((var(--index)));
  font-family: 'Roboto', sans-serif;
  width: 75%;
  margin-top: 15px;
  height: 80px;
}
.author-image-wrapper{
  height: 80%;
}
.author-image{
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border:1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.author-show{
  opacity: 1 !important;
  transform: translate(0px) !important;
}
.author-hidden{
  opacity: 0;
  transition: 0.5s all;
  transform: translateX(100px);
}

.author1-trigger{
  position: absolute;
  top:50%;
  width: 100%;
}
.author2-trigger{
  position: absolute;
  top:75%;
  width: 100%;
}
.authors-overlay{
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 2;
}



.footer{
  width: calc(100% - 20px);
  color:grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:10px;
  text-align: right;
  border-top: 1px solid grey;
}

#info-wrapper{
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.development-header{
  width: 100%;
  height: auto;
  text-align: center;
  margin-top:100px;
  margin-bottom: 80px;
  position: relative;
  font-size: calc(3.5 * var(--index));
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
#development-header{
  position: absolute;
  width: 100%;
  top:250px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.record{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}
.image-wrapper{
  height: min(85vh, calc(50vw + 150px));
  width: calc(50vw + 150px);
  margin: var(--margin);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text{
  display: flex;
  flex-direction: column;
  position: relative;
  height: min(85vh, calc(50vw + 150px));
  width: calc(100% - 50vw - 150px);
  border-top: 4px solid black;
  margin:var(--margin);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  word-spacing: normal;
}
.text__overlay{
  position: absolute;
  display: block;
  opacity: 1;
  top:0;
  background-color: white;
  width: 100%;
  height:100%;
  z-index: 2;
  transition: transform 1.5s ease-out;
}
.text__header{
  font-size: calc(3*var(--index));
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}
.text_description{
  font-size: calc(1.75*var(--index));
}

.text__additional{
  color:black !important;
  text-decoration: none;
  border:4px solid black !important;
  border-radius: 10px;
  width: 350px;
  background-color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-top:50px;
  margin-left:20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.date{
  position: absolute;
  top:-35px;
  color:grey;
  font-size: 20px;
}
.trigger{
  position: absolute;
  width: 100%;
  top:30%;
  height: 40%;
}
.hidden{
  opacity: 0;
  transition: opacity 0.5s;
}
.hidden .image{
  transition: all 1s;
  transform:scale(1.05);
}
.show{
  opacity: 1;
  transform: translateX(0);
}
.show .image{
  transform: scale(1);
}

.show .text__overlay{
  transform: translateY(100%);
  display: none;
}


.record-info{
  position:absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  overflow: hidden;
}
.hidden-info{
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.show-info{
  opacity: 1 !important;
  z-index: 3 !important;
}
.record-info__image-wrapper{
  display: flex;
  flex-direction: column;
  height: calc(min(100vh, 100vw) - var(--margin));
  width: 50vw;
  margin: var(--margin);
  overflow-y: scroll;
}

.record-info__image-wrapper::-webkit-scrollbar {
  display: none;
}

.record-info__image-wrapper {
-ms-overflow-style: none;
scrollbar-width: none;
}

.record-info__image{
  height: 90%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.enableBlur{
  filter: blur(20px);
  transition: filter 0.5s;
}

.disableBlur {
  filter: blur(0) !important;
}
.record-info__text__header{
  font-size: calc(var(--index)*3);
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
}
.record-info__text__description{
  font-size: 1.5rem;
  font-weight: 500;
}
.record-info__text{
  overflow-y: scroll;
  width: 40vw;
  color:black;
  margin: var(--margin);
  margin-top:60px;
  font-family: "Roboto", sans-serif;
}

.record-info__text::-webkit-scrollbar {
  display: none;
}

.record-info__text {
-ms-overflow-style: none;
scrollbar-width: none;
}

.close_record-info{
  position: absolute;
  top:40px;
  right:20px;
  background:transparent;
  border: none;
  cursor: pointer;
  background-image: url('./public/images/cross-sign.png');
  height: 30px;
  width: 30px;
  background-size: contain;
  /* filter: invert(); */
}
